# Python
__pycache__/
*.py[cod]

# Environnement
.env

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# OS
.DS_Store
Thumbs.db